*{
    font-family: 'Rajdhani';
}

.btn-outline-success:hover{
    background-color:black;
    color: white;
}


.form-control{
    border: 1px solid #b3a1a1 !important;
    padding: 8px 10px;
  }

.form-select{
    border: 1px solid #b3a1a1 !important;
    padding: 8px 10px;
}

.py-3{
    color: #4E4646;
}

